@import '../../variables';

.item {
    border-bottom: 1px solid $border-color;
    cursor: pointer;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;

    :global(.col) {

        &.left,
        &.right {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: clip;
        }

        &.left {
            span {
                display: inline-block;
                float: right;
                min-width: 100%;
                overflow: visible;
                text-align: right;
            }
        }
    }
}