@import '../../variables';

.history {
    padding: 0 5rem 4.9rem 3.8rem;

    h3 {
        color: $primary-color;
        font-size: 1.8rem;
        margin-bottom: 2.8rem;
        margin-top: 1.9rem;
    }

    ul.historyList {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}