@import '../variables';

.search {
    background-color: $primary-color;
    padding-bottom: 5.6rem;

    h1 {
        color: #d9d9d9;
        font-size: 3.6rem;
        font-weight: 300;
        line-height: 4.2rem;
        margin-top: 0.5rem;
        text-align: center;
    }

    ul.areas {
        list-style: none;
        padding: 0;
        margin: 3.5rem 0 0 0;

        li {
            align-items: center;
            background-color: #eeeeee;
            display: inline-flex;
            height: 4.7rem;
            padding-left: 1.3rem;
            width: 18.1rem;

            &:first-child {
                border-radius: 0.6rem 0 0 0;
            }

            &:last-child {
                border-radius: 0 0.6rem 0 0;
            }

            a {
                color: #848c91;
                padding-left: 1.4rem;
                text-decoration: none;
            }

            &.active {
                background-color: #f5f5f5;

                a {
                    color: $primary-color;
                }
            }
        }
    }

    .searchInput {
        align-items: center;
        background-color: #f5f5f5;
        border-radius: 0 0.6rem 0.6rem 0.6rem;
        box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.16);
        display: flex;
        height: 8rem;

        &.dropdownActive {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        button {
            background-color: transparent;
            border: none;
        }

        .searchButton {
            margin-left: 1.3rem;
        }

        input {
            background: transparent;
            border: none;
            color: #848c91;
            flex-grow: 1;
            font-size: 2.4rem;
            line-height: 2.8rem;
            margin-left: 4.9rem;

            &:focus {
                outline: none;
            }
        }

        .historyButton {
            margin-left: 2.1rem;
        }

        .helpButton {
            margin: 0 2.8rem 0 2.1rem;
        }
    }
}