// Bootstrap variables overrides
$grid-gutter-width: 0;

// Import Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

// RSDO

@import 'variables';

html {
    font-size: 62.5%;
}

body {
    background-color: #f5f5f5;
    color: $text-color;
    font-family: 'Roboto', 'Helvetica';
    font-size: 1.6rem;
}

.container-fluid {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
}